<!DOCTYPE html>
<html>
<body>
  <script>
    {% include "homepage/homepage/index.js" %}
  </script>

        <h1>Welcome to Fishing Web-App, We are a free website for all anglers</h1>
        <p>
        <button type="button" onclick="onContactClick();">Contact</button>
        </p>
        <p>
        <button type="button" onclick="onLoginClick();">Login</button>
        </p>
        <p>
        <button type="button" onclick="onRegisterClick();">Register</button>
        </p>

        Version is:<p id="version"></p>
        <button type="button" onclick="onVersionClick();">Version</button>

</body>
</html>
