<!-- homepage/index.html -->
<!DOCTYPE html>
<html>
<head>
<title>FishingAPP | Contact</title>
</head>
<body>
    <script>
        {% include "pages/homepage/contact.js" %}
    </script>

    <h1>Contact</h1>
    <p>Fishing is an activity beneficial to people's physical and mental health, especially for mental workers, in the spare time of intense work, fishing with a rod, to regulate brain function, eliminate fatigue, greatly beneficial.</p>

    <p>
        <button type="button" onclick="onBackClick()">Back</button>
    </p>

</body>
</html>
